{% load static %}
<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}HireFlow{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'seleksi_pelamar/css/admin.css' %}">
</head>
<body>
  <aside class="sidebar">
    <a class="brand" href="{% url 'seleksi_pelamar:daftar' %}"><span>H</span> HireFlow</a>
    <p class="nav-label">REKRUTMEN</p>
    <a class="nav-active" href="{% url 'seleksi_pelamar:daftar' %}">Seleksi Pelamar</a>
    <div class="user-box">
      <div class="avatar">{{ request.user.username|slice:":1"|upper }}</div>
      <div><strong>{{ request.user.username }}</strong><small>Administrator</small></div>
      <form action="{% url 'logout' %}" method="post">{% csrf_token %}<button>Keluar</button></form>
    </div>
  </aside>
  <main class="main">
    {% if messages %}{% for message in messages %}<div class="message">{{ message }}</div>{% endfor %}{% endif %}
    {% block content %}{% endblock %}
  </main>
</body>
</html>
